<h1>All classrooms:</h1>


    <% @classrooms.each do |classroom| %>
    <div class="allusers">
  
        <h3>Name: </h3>
        <p><%= classroom.name %></p> 
        <h3>Capacity: </h3>
        <p><%= classroom.capacity %></p> 
        <h3>Campus: </h3>
        <p><%= classroom.campus.try :name %></p> 

  <%#= link_to 'Show', classroom %>
  <%= link_to 'Edit', edit_classroom_path(classroom), :class => 'btn btn-large btn-primary' if can? :edit_classroom, Classroom  %>
  </div>
      <br>

    <% end %>



<br>

<%= link_to 'New Classroom', new_classroom_path, :class => 'btn btn-large btn-primary' if can? :create_classroom, Classroom %>
