<h1>Listing coursetypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Icon</th>
      <th>Intensity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coursetypes.each do |coursetype| %>
      <tr>
        <td><%= coursetype.name %></td>
        <td><%= coursetype.description %></td>
        <td><%= coursetype.icon %></td>
        <td><%= coursetype.intensity %></td>
        <td><%= link_to 'Show', coursetype %></td>
        <td><%= link_to 'Edit', edit_coursetype_path(coursetype) %></td>
        <td><%= link_to 'Destroy', coursetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coursetype', new_coursetype_path %>
