<h1>All teachers:</h1>
<br>


    <% @teachers.each do |teacher| %>
    <div class="allusers">
      <div class="photo_teacher">
      <%= image_tag teacher.user_image, class: "img-rounded", id: "img-teacher" %>
      </div>
        
        <h3>Name: </h3>
        <p><%= teacher.fullname %></p> 

        <h3>Date of Birth: </h3>
        <p><%= teacher.dob %></p> 

        <h3>Email: </h3>
        <p> <%=mail_to teacher.email  %><p>
          <br>

        <p><%="#{teacher.prename} is teaching the following courses:" %></p>
        <% teacher.courses.each do |course| %>
        <li><%="#{course.name} (starts at #{course.start_date} & ends at #{course.end_date})" %> </li>
        <% end %>

      </div>
      


  <br>
  <br>


    <% end %>







